// footer
footer {}

.web-cred {
  box-sizing: content-box;
  position: relative;
  height: 15px;
  width: 15px;
  border: 2px solid $link-color;
  border-radius: 50%;
  color: $link-color;
  font-size: .85em;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin: 0 0 6px;

  div {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: -5px;
    left: -5px;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    color: #222;
    font-weight: normal;
    text-align: left;
    line-height: 1.4;
    white-space: nowrap;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover div {
    opacity: 1;
    visibility: visible;
  }
}

@include media($desktop) {
  // stick footer
  html, body {
    height: 100%;
  }

  #wrap {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    margin: 0 auto (-$footer-height);
  }

  #foot-wrap,
  #foot-push {
    height: $footer-height;
  }
}
